.dash-rishtas-body {
  width: 100%;
  height: auto;
  padding: 4%;
  background-color: #ffffff;
  color: #000000;
  border-left: 4px solid #eee;
}

.dash-rishtas-body .dash-rishtas-heading {
  text-align: left;
}

.dash-rishtas-body .dash-rishtas-heading > h1 {
  font-size: 35px;
  font-weight: 700;
}

.dash-rishtas-body .dash-rishtas-header {
  width: 100%;
  padding-top: 2%;
  padding-left: 1%;
  font-size: 20px;
  font-weight: 700;
  background-color: #030303;
  color: white;
  border-radius: 10px;
}
/* 
.dash-rishtas-body .dash-rishtas-header .dash-rishta-id {
  margin-top: 10%;
}

.dash-rishtas-body .dash-rishtas-header .dash-rishta-edit {
  margin-top: 10%;
}

.dash-rishtas-body .dash-rishtas-header .dash-rishta-avatar {
  margin-top: 10%;
}

.dash-rishtas-body .dash-rishtas-header .dash-rishta-profile {
  margin-top: 10%;
}

.dash-rishtas-body .dash-rishtas-header .dash-rishta-details {
  margin-top: 10%;
} */
.dash-rishtas-body .dash-rishtas-list-body {
  width: 100%;
  padding-top: 2%;
  padding-left: 1%;
  font-size: 20px;
  /* font-weight: 700; */
  background-color: #f6f6f6;
  color: #000000;
  border-radius: 10px;
  /* border: 1px solid #c8c8c8; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dash-rishtas-body .dash-rishtas-list-body .dash-rishtas-list-edit > button {
  border: none;
  background-color: #0044ff;
  color: white;
  border-radius: 5px;
  width: 50%;
  transition: 0.2s;
}

.dash-rishtas-body
  .dash-rishtas-list-body
  .dash-rishtas-list-edit
  > button:hover {
  cursor: pointer;
  /* background-color: #0044ff;
  color: white; */
}

.dash-rishtas-body .dash-rishtas-list-body .dash-rishtas-list-avatar {
  margin-top: -5%;
  width: 50px;
  height: 50px;
}

.dash-rishtas-body
  .dash-rishtas-list-body
  .dash-rishtas-list-avatar
  .dash-rishtas-image {
  border-radius: 50%;
  border: 4px solid #1d2f5f;
}

.dash-rishtas-body .dash-rishtas-list-body .dash-rishtas-list-profile > button {
  border: none;
  background-color: #030303;
  color: white;
  border-radius: 5px;
  width: 60%;
  transition: 0.2s;
}

.dash-rishtas-body
  .dash-rishtas-list-body
  .dash-rishtas-list-profile
  > button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .dash-rishta-avatar > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishta-id > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishta-edit > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishta-profile > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishta-details > p {
    font-size: 13px;
    text-align: center;
  }

  .dash-rishtas-list-avatar > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishtas-list-id > p {
    font-size: 12px;
    text-align: center;
  }
  .dash-rishtas-list-edit > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishtas-list-profile > p {
    font-size: 13px;
    text-align: center;
  }
  .dash-rishtas-list-details > p {
    font-size: 12px;
    text-align: center;
  }

  .dash-rishtas-body .dash-rishtas-list-body .dash-rishtas-list-edit > button {
    border: none;
    background-color: #0044ff;
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s;
    font-size: 17px;
  }

  .dash-rishtas-body
    .dash-rishtas-list-body
    .dash-rishtas-list-profile
    > button {
    border: none;
    background-color: #030303;
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s;
    font-size: 17px;
  }

  .dash-rishtas-body
    .dash-rishtas-list-body
    .dash-rishtas-list-avatar
    .dash-rishtas-image {
    border-radius: 50%;
    border: 3px solid #1d2f5f;
  }
}

@media only screen and (max-width: 425px) {
  .dash-rishtas-body .dash-rishtas-heading > h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .dash-rishtas-body .dash-rishtas-header {
    width: 100%;
    padding-top: 3%;
    padding-left: 2%;
    font-size: 20px;
    font-weight: 700;
    background-color: #030303;
    color: white;
    border-radius: 10px;
  }
  .dash-rishtas-body .dash-rishtas-list-body {
    width: 100%;
    padding-top: 2%;
    padding-left: 1%;
    font-size: 20px;
    /* font-weight: 700; */
    background-color: #f6f6f6;
    color: #000000;
    border-radius: 10px;
    /* border: 1px solid #c8c8c8; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}
